<template>
  <header-layout/>
<div v-show="!connected">
   <form @submit.prevent="connecter" > 
  <div class="card">
    <h1 class="card__title"> Connexion</h1>
    <div class="form-row">
      <input v-model="email" class="form-row__input" type="email" placeholder="Adresse mail"/>
    </div>
    <div class="form-row">
      <input v-model="password" class="form-row__input" type="password" placeholder="Mot de passe"/>
    </div>
    <div class="form-row">
      <button class="button">Connexion</button>
    </div>
  </div>
   </form>
   </div>
   <h1 class="text-center" v-show="connected">
    Bienvenue {{connectedUserData}}</h1>
    <div v-if="!userRole" >
      <h2 class="text-center">Veuillez attendre que l'administrateur valide votre compte utilisateur</h2>
      </div>   
      <div v-else class="text-center">
        ({{userRole}})
      </div>
  <footer-layout/>
</template>

<script>
import HeaderLayout from "@/components/layout/HeaderLayout";
import FooterLayout from "@/components/layout/FooterLayout";
import UserDataService from "/src/services/UserDataService";


export default {

  name: `connexion`,
  components: {
    HeaderLayout,
    FooterLayout,
  },
  props: {
    msg: String
  },
  data (){//initialise les variable que je veux utiliser
    return {
      email:null,
      password:null,
      connectedUserData: null,
      connected:null,
      userId:null,
      userRole:null,
    }
  },
  methods: {
    connecter(){
      console.log(this.email, this.password)
      UserDataService.getByEmail(this.email, this.password)
      .then((response) => {
        this.connectedUserData = response.data['user_firstname'];
        this.userId = response.data['user_id'];
        this.connected = true;
        UserDataService.getUserRoleByUserId(this.userId).then((resp) => {
          console.log(resp.data)
          this.userRole = resp.data['role_name'];
        }).catch(() => { this.userRole = false; });
      })
      .catch((e) => {
        console.log(e);
      });
    }
  },
  mounted(){
    this.connected = false
  }

}


</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>


.form-row {
  display: flex;
  margin: 20px 0px;
  gap: 16px;
  flex-wrap: wrap;
}

/*début*/
/* interrieur imput forme et couleur du curseur */
.form-row__input {
  padding: 8px;
  border: none;
  border-radius: 8px;
  background: #f2f2f2; /*interieur des inputs*/
  font-weight: 500;
  font-size: 16px;
  flex: 1;
  min-width: 100px;
  color: black;
}

.form-row__input::placeholder {
  color: #aaaaaa;
}

/*fin*/
.button {
  background: #2196F3;
  color: white;
  border-radius: 8px;
  font-weight: 800;
  font-size: 15px;
  border: none;
  width: 100%;
  padding: 16px;
  transition: .4s background-color;
}

.button:hover {
  cursor: pointer;
  background: #1976D2;
}

/*  size du card*/
.card {
  max-width: 100%;
  width: 600px;
  background: white;
  border-radius: 16px;
  padding: 30px;
  margin: 16% auto;

}

.card__title {
  text-align: center;
  font-weight: 800;
}


</style>>