<template>

    <header-layout/>
  <form @submit.prevent="envoyer">  
  <div class="card">
    <h1 class="card__title"> Inscription</h1>
    <div class="form-row">
      <input v-model="prenom" class="form-row__input" type="text" placeholder="Prénom"/>
      <input v-model="nom" class="form-row__input" type="text" placeholder="Nom" />
    </div>
    <div class="form-row">
      <input v-model="email" class="form-row__input" type="email" placeholder="Adresse mail"/>
    </div>
    <div class="form-row">
      <input v-model="password" class="form-row__input" type="password" placeholder="Mot de passe"/>
    </div>
    <div class="form-row">
      <input v-model="password" class="form-row__input" type="password" placeholder="Confirmer mot de passe"/>
    </div>
    <div class="field">
      <div class="control">
        <label class="checkbox">
          <input type="checkbox">
          I agree to the <a href="#">terms and conditions</a>
        </label>
      </div>
    </div>
    <div class="form-row">
      <button class="button">Inscription</button>
    </div>
  </div>
  </form>
  <footer-layout/>


</template>

<script>
import HeaderLayout from "@/components/layout/HeaderLayout";
import FooterLayout from "@/components/layout/FooterLayout";
import UserDataService from "/src/services/UserDataService";
import router from '../../../router'

export default {

  name: `inscription`,
  components: {
    HeaderLayout,
    FooterLayout,
  },
  props: {
    msg: String
  },
   data() {
    return {
      nom: '',
      prenom: '',
      email: '',
      password: '',

    }
  },
  methods: {
    envoyer() {
      UserDataService.create({
        user_pwd: this.password,
        user_name: this.nom,
        user_firstname: this.prenom,
        //user_tel: '',
        user_mail: this.email,
        user_address: 'test',
        //user_siret: '12313',
        account_validity: '1'
      })
        .then(() => {
          // this.getAll()
         router.push({ path: '/connexion', replace: true })
        })
        .catch((e) => {
          console.log(e);
        });
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1%;
}

img {
  max-width: 100%;
  border-radius: 8px;
}

.card {
  max-width: 100%;
  width: 600px;
  background: white;
  border-radius: 16px;
  padding: 30px;
  margin: 12% auto;
}

.card__title {
  text-align: center;
  font-weight: 800;
}

.card__subtitle {
  text-align: center;
  color: #666;
  font-weight: 500;
}

.button {
  background: #2196F3;
  color: white;
  border-radius: 8px;
  font-weight: 800;
  font-size: 15px;
  border: none;
  width: 100%;
  padding: 16px;
  transition: .4s background-color;
}

.card__action {
  color: #2196F3;
  text-decoration: underline;
}

.card__action:hover {
  cursor: pointer;
}

.button:hover {
  cursor: pointer;
  background: #1976D2;
}


.button--disabled {
  background: #cecece;
  color: #ececec
}

.button--disabled:hover {
  cursor: not-allowed;
  background: #cecece;
}

.form-row {
  display: flex;
  margin: 16px 0px;
  gap: 16px;
  flex-wrap: wrap;
}

/*début*/
/* interrieur imput forme et couleur du curseur */
.form-row__input {
  padding: 8px;
  border: none;
  border-radius: 8px;
  background: #f2f2f2; /*interieur des inputs*/
  font-weight: 500;
  font-size: 16px;
  flex: 1;
  min-width: 100px;
  color: black;
}

.form-row__input::placeholder {
  color: #aaaaaa;
}

/*fin*/


</style>


