<template>

    <footer class=" fixed-bottom">
        <div class="content has-text-centered">
                <strong>GEII </strong> by <a href="https://gitlab.com/d8030/geii">Project GEII</a>. The source code is
                licensed Etudiant LP MIAW
        </div>
    </footer>
</template>

<script>
</script>

<style>
</style>