<template>
  <nav class="navbar has-shadow is-primary" role=" navigation" aria-label="main navigation">
    <!-- logo/brand -->
    <div class="navbar-brand">
      <a class="navbar-item">
        <router-link to="/accueil"><img src="../../assets/images/logo_evry.jpg" alt="site logo" style="max-height:50px"
                                        class="py-2px-2"></router-link>

      </a>
    </div>
    <a class="navbar-burger">
      <span></span>
      <span></span>
      <span></span>
    </a>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">


        <a class="navbar-item ">
          <router-link to="/accueil">Accueil</router-link>
        </a>
        <a class="navbar-item ">
          <router-link to="/entreprise">Entreprise</router-link>
        </a>
        <a class="navbar-item ">
          <router-link to="/etudiant">Etudiant</router-link>
        </a>
        <a class="navbar-item ">
          <router-link to="/admin">Admin</router-link>
          <router-link to="/departementGEII">Département GEII</router-link>
        </a>
        <a class="navbar-item ">
          <router-link to="/enseignant">Enseignant</router-link>
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-warning blue">
              <router-link to="/inscription"><strong>Inscription</strong></router-link>
            </a>
            <a class="button is-light">
              <router-link to="/connexion">Connexion</router-link>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <router-view/>
</template>

<script>
export default {}


</script>

<style>
</style>