<template>
  <header-entreprise />
  <div class="container">
    <section class="hero is-primary">
      <div class="hero-body">
        <p class="title">
          Formulaire de contact
        </p>
        <p class="subtitle">
          Fait par les etudiant de LP MIAW 2021/22
        </p>
      </div>
    </section>

    <form @submit.prevent="envoyer">
      <div class="field">
        <label class="control-label" for="Nom de votre société">Nom de votre société</label>
        <div class="control">
          <input class="input" type="text" v-model="NomEntreprise">
        </div>
      </div>
      <div class="field">
        <label class="control-label" for="Votre adresse email">Votre adresse email</label>
        <div class="control">
          <input class="input" type="email" v-model="email">
        </div>
      </div>
      <div class="field">
        <label class="label">Numéro de téléphone</label>
        <div class="control-label" for="Numéro de téléphone">
          <input class="input" type="number" v-model="tel">
        </div>
      </div>
      <div class="field">
        <label class="label">Votre prénom</label>
        <div class="control-label" for="Votre prénom">
          <input class="input" type="text" v-model="prenom">
        </div>
      </div>
      <div class="field">
        <label class="label">Votre nom</label>
        <div class="control-label" for="Votre nom">
          <input class="input" type="text" v-model="nom">
        </div>
      </div>
      <!-- <div class="field">
        <label class="label">Votre poste</label>
        <div class="control-label" for="Votre poste">
          <input class="input" type="text" v-model="poste">
        </div>
      </div> -->
      <!-- <div class="field">
        <label class="label">Quel(s) profil(s) recherchez-vous ?</label>
        <div class="control-label" for="profil">
          <input class="input" type="text" v-model="profil">
        </div> -->
      <!-- </div>
      <div class="field">
        <label class="label">description du poste</label>
        <div class="control-label" for="description du poste">
          <textarea class="textarea" placeholder="Textarea" v-model="description"></textarea>
        </div>
      </div> -->
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox">
            I agree to the <a href="#">J'accepte que GEII stocke et traite mes données personnelles.</a>
          </label>
        </div>
      </div>
      <div class="control">
        <button class="button is-primary">Envoyer</button>
      </div>
    </form>

  </div>

  <footer-layout />
</template>

<script>
import HeaderEntreprise from "@/views/pagesEntreprise/layout/headerEntreprise";
import FooterLayout from "@/components/layout/FooterLayout";
import UserDataService from "/src/services/UserDataService";
import router from '../../router'



export default {
  name: "FormulaireEntreprise",

  data() {
    return {
      NomEntreprise: '',
      email: '',
      tel: '',
      prenom: '',
      nom: '',
      // poste: '',
      //profil: '',
      // description: '',
    }
  },
  methods: {
    envoyer() {
      

      UserDataService.create({
        user_pwd: '123132',
        user_company_name: this.NomEntreprise,
        user_name: this.nom,
        user_firstname: this.prenom,
        user_tel: this.tel,
        user_mail: this.email,
        user_address: '12 test',
        user_siret: '12313',
        account_validity: '1231321'
      })
        .then(() => {
          // this.getAll()
         router.push({ path: '/message', replace: true })
        })
        .catch((e) => {
          console.log(e);
        });
    }
  },



  components: {
    HeaderEntreprise,
    FooterLayout,
  },
  mounted(){

  }

}
</script>

<style scoped>
</style>