<template>
  <header-entreprise />
  <br>
  <br>
  <div class="container justify center">
      <section class="hero is-primary">
      <div class="hero-body">
        <p class="title">
          Merci !
        </p>
        <p class="subtitle">
          Ecole vous contactera le plus vite possible
        </p>
      </div>
    </section>

 
  <!-- <div v-for="userInfo in usersInfo" :key="userInfo['user_id']">
    <p>Nom : {{ userInfo['user_name'] }} - Prénom {{userInfo['user_firstname'] }}</p>    
  </div> -->
  <h2>Merci {{userName}} {{userFirstname}} ({{userCompanyName}})</h2>
     <button type="button" class="btn btn-primary"><router-link to="/entreprise"><strong>Retour a la page</strong></router-link></button>
              
        
  </div>
  
  <footer-layout />
</template>

<script>
import HeaderEntreprise from "@/views/pagesEntreprise/layout/headerEntreprise";
import FooterLayout from "@/components/layout/FooterLayout";
import UserDataService from "/src/services/UserDataService";

export default {
  name: `message`,
  components: {
    HeaderEntreprise,
    FooterLayout,
  },

  props: {
    msg: String
  },
  data() {
    return {
      usersInfo: null,
      userName:null,
      userFirstname:null,
      userCompanyName:null
    }

  },
  mounted() {
    
    UserDataService.getAll()
      .then((response) => {
        this.usersInfo = response.data;
        // console.log(this.usersInfo.slice(-1)[0])
        this.userName = this.usersInfo.slice(-1)[0]['user_name']
        this.userFirstname = this.usersInfo.slice(-1)[0]['user_firstname']
        this.userCompanyName = this.usersInfo.slice(-1)[0]['user_company_name']
      })
      .catch((e) => {
        console.log(e);
      });
      
  }
}

</script>