<template>
  <header-entreprise />
  <div class="container d-flex justify-content-end">
    <img
      src="../../assets/entreprise/bannier1.jpg"
      class="d-block w-100"
      alt="bannier Entreprise"
    />
  </div>
  <br />
  <div class="container align-items-center">
    <h1 class="fs-1 fw-bold">Bienvenue dans l'espace entreprise</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis fugiat aut
      unde facilis alias neque aliquam aspernatur deserunt possimus laudantium
      amet nihil quibusdam, rem quasi blanditiis eaque corporis voluptatum
      perspiciatis.
    </p>
  </div>
  <br />
  <br />
  <div class="container">
    <h3 class="f-3">Notre partenar</h3>
    <br />
    <br />
    <div class="row">
      <div class="col">
        <img
          src="../../assets/entreprise_logo/img1.png"
          class="d-block w-50"
          alt="bannier Entreprise"
        />
      </div>
      <div class="col">
        <img
          src="../../assets/entreprise_logo/img2.jpeg"
          class="d-block w-50"
          alt="bannier Entreprise"
        />
      </div>
      <div class="col">
        <img
          src="../../assets/entreprise_logo/img3.jpeg"
          class="d-block w-50"
          alt="bannier Entreprise"
        />
      </div>
      <div class="col">
        <img
          src="../../assets/entreprise_logo/img4.png"
          class="d-block w-50"
          alt="bannier Entreprise"
        />
      </div>
    </div>
    <br />
    <br />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
      repudiandae repellat, non natus ut temporibus officiis cupiditate, id
      incidunt aperiam deserunt dolor quam facere architecto animi laudantium
      consectetur ipsa facilis. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Fugiat, totam beatae. Necessitatibus pariatur itaque
      iusto magnam repellendus nostrum similique, consequuntur in modi odit
      delectus sint iure ut cum reiciendis! Id. Lorem ipsum dolor sit amet,
      consectetur adipisicing elit. Eius sunt velit ullam vitae minima optio
      magnam, molestiae quibusdam neque quaerat cupiditate repellat corporis,
      eligendi, illo totam perspiciatis dicta ab pariatur.
    </p>
    <br />
    <div class="container justify-content-end">
      <button class="button is-primary is-large">
        <router-link to="/formulaireEntreprise">Formulaire Contact</router-link>
      </button>
    </div>
  </div>
  <br />
  <br />
  <br />

  <footer-layout />
  
 
</template>


<script>
import HeaderEntreprise from "@/views/pagesEntreprise/layout/headerEntreprise";
import FooterLayout from "@/components/layout/FooterLayout";
import UserDataService from "/src/services/UserDataService";

export default {
  name: `pagePrincipaleEntreprise`,
  components: {
    HeaderEntreprise,
    FooterLayout,
  },

  props: {
    msg: String
  },
  data() {
    return {
      usersInfo: null,
    }

  },
  mounted() {
    UserDataService.getAll()
      .then((response) => {
        this.usersInfo = response.data;
      })
      .catch((e) => {
        console.log(e);
      });
  }
}
</script>

<style scoped>
</style>