<template>
<header-enseignant/>
  <h1 class="title"> EDT</h1>
  <table class="table table-striped table-hover ">
    <thead>
    <tr>
      <th scope="col">Heure</th>
      <th scope="col">Lundi</th>
      <th scope="col">Mardi</th>
      <th scope="col">Mercredi</th>
      <th scope="col">Jeudi</th>
      <th scope="col">Vendredi</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td >8</td>
      <td >math</td>
      <td >anglais</td>
      <td >js</td>
      <td >oge</td>
      <td >pt</td>
    </tr>
    <tr>
      <td >10</td>
      <td >math</td>
      <td >anglais</td>
      <td >js</td>
      <td >oge</td>
      <td >pt</td>
    </tr>
    <tr>
      <td >12</td>
      <td >math</td>
      <td >anglais</td>
      <td >js</td>
      <td >oge</td>
      <td >pt</td>
    </tr>
    <tr>
      <td >14</td>
      <td >math</td>
      <td >anglais</td>
      <td >js</td>
      <td >oge</td>
      <td >pt</td>
    </tr>
    </tbody>
  </table>
<footer-enseignant/>
</template>

<script>
import HeaderEnseignant from "@/views/pagesEnseignant/layout/headerEnseignant";
import FooterEnseignant from "@/components/layout/FooterLayout";
import UserDataService from "@/services/UserDataService";
import router from "@/router";

export default {
  name: `edtEnseignant`,
  components: {
    HeaderEnseignant,
    FooterEnseignant,
  },
  props: {
    msg: String
  },
  data (){//initialise les variable que je veux utiliser
    return {
      matiere_id:null,
      classe_id:null,
      edt_jour_debut: null,
      edt_jour_fin:null
    }
  },
  methods: {
    envoyer() {
      UserDataService.get({
        matiere_id: this.matiere_id,
        classe_id: this.classe_id,
        edt_jour_debut: this.edt_jour_debut,
        edt_jour_fin: this.edt_jour_fin,
      })
          .then(() => {
            // this.getAll()
            router.push({ path: '/edtEnseignant', replace: true })
          })
          .catch((e) => {
            console.log(e);
          });
    }
  },
}
</script>

<style scoped>

</style>