<template>
<header-enseignant/>
<Banniere/>
<info/>

  <footer-enseignant/>
</template>

<script>
import HeaderEnseignant from "@/views/pagesEnseignant/layout/headerEnseignant";
import FooterEnseignant from "@/components/layout/FooterLayout";
import Banniere from "@/views/pagesPricipale/pageAccuiel/BannierLayout"
import Info from "@/views/pagesPricipale/pageAccuiel/InformationLayout"

export default {
  name: `pagePrincipaleEnseignant`,
  components: {
    HeaderEnseignant,
    FooterEnseignant,
    Banniere,
    Info,

  },
  props: {
    msg: String
  }
}
</script>

<style scoped>

</style>