<template>
<header-enseignant/>
  <div class="row">
    <div class="card card1">
      <h5 class="card-header">Cours d'anglais</h5>
      <div class="card-body">
        <h5 class="card-title">à rendre le 20</h5>
        <p class="card-text">On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de</p>
        <div class="columns download">
          <a href="../../assets/images/logo_evry.jpg" class="btn btn-primary" download><i class="fa fa-download"></i>Telecharger <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
          </svg></a>
        </div>
      </div>
    </div>
    <div class="card card1">
      <h5 class="card-header">Cours OGE</h5>
      <div class="card-body">
        <h5 class="card-title">à rendre le 12</h5>
        <p class="card-text">On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de</p>
        <div class="columns download">
          <a href="../../assets/images/logo_evry.jpg" class="btn btn-primary" download><i class="fa fa-download"></i>Telecharger <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
          </svg></a>
        </div>
      </div>
    </div>
  </div>
<footer-etu/>
</template>

<script>
import HeaderEnseignant from "@/views/pagesEnseignant/layout/headerEnseignant";
import FooterEtu from "@/components/layout/FooterLayout";
import UserDataService from "@/services/UserDataService";
import router from "@/router";

export default {
  name: `notes`,
  components: {
    HeaderEnseignant,
    FooterEtu,
  },
  props: {
    msg: String
  },
  methods: {
    envoyer() {
      UserDataService.get({
        sc_id: this.sc_id,
        sc_nom: this.sc_nom,
        sc_lien_cours: this.sc_lien_cours,
        user_id: this.user_id,
      })
          .then(() => {
            // this.getAll()
            router.push({ path: '/suppDeCoursEnseignant', replace: true })
          })
          .catch((e) => {
            console.log(e);
          });
    }
  },
}
</script>

<style scoped>
.card1{
  width: 20%;
  margin: 2%;
}
</style>