<template>
  <header-layout/>

  <nav class="navbar navbar-light has-shadow is-primary navHaut">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Département GEII – Génie Électrique et Informatique Industrielle</span>
    </div>
  </nav>


  <div class="container">
    <h2 class="title">Présentation</h2>
    <div class="row g-0">

      <div class="col-sm-6 col-md-8 p-3 ">
        <p>
          Les secteurs traditionnels d’activité (industries électriques et électroniques, appareillages et
          instrumentation, production et transport d’énergie, télécommunications, technologies de l’information et de la
          communication) se sont élargis en raison des multiples applications de l’électricité et de l’informatique.
        </p>
        <p>
          Étant donnée la généralisation de l’électronique et de l’informatique industrielle dans bon nombre
          d’activités,
          les compétences du diplômé GEII s’exercent dans des secteurs aussi divers que : les industries de
          transformation
          et manufacturières, la production et la gestion de l’énergie, l’industrie électronique, les transports et
          l’automobile, l’aérospatial et la défense, la construction et le bâtiment, la santé, l’agroalimentaire et les
          agro-industries.
        </p>
        <p>
          Dans une grande entreprise, dans une petite entreprise ou dans un laboratoire de recherche. Il exerce ses
          fonctions de technicien dans les domaines des études et du développement, de l’industrialisation et de la
          production, de l’automatisation, de l’intégration de systèmes, de la maintenance, de l’assurance qualité et
          des services, voire du commerce.
        </p>
        <p>
          Les métiers d’électronicien, électrotechnicien, automaticien ou technicien de maintenance couvrent une large
          palette d’emplois spécifiques : méthodiste–industrialisateur, chargé d’études, chargé d’affaires, chargé
          d’essais, responsable d’équipes de fabrication, coordonnateur maintenance, développeur, concepteur-chargé de
          gammes, automaticien régulation, spécialiste process, informaticien industriel, etc.
        </p>
        <hr>

        <h2 class="title">Les formation du département GEII</h2>

        <div class="row">
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  <a href="https://www.iut-evry.fr/nos-formations/but/but-genie-electrique-et-informatique-industrielle/">Généralité DUT GEII</a>
                </h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  <a href="https://www.iut-evry.fr/nos-formations/but/but-genie-electrique-et-informatique-industrielle/">Spécificité
                    du DUT GEII</a>
                </h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

              </div>
            </div>
          </div>
        </div>


      </div>
      <div class="col-6 col-md-4 p-3 ">

        <div class="card" style="width: 18rem;">
          <div class="card-title p-2">
            Localisation
          </div>
          <img src="src/assets/images/universite-evry-batiment.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">36 rue du Pelvoux
              ZI de la Petite Montagne Nord
              91080 Courcouronnes</p>

          </div>
        </div>

      </div>
    </div>
  </div>

  <footer-layout/>
</template>

<script>
import HeaderLayout from "@/components/layout/HeaderLayout";
import FooterLayout from "@/components/layout/FooterLayout";

export default {
  name: `departementGEII`,
  components: {
    HeaderLayout,
    FooterLayout,
  },
  props: {
    msg: String
  }
}
</script>

<style scoped>
.navHaut {
  margin-top: 1%;
}

.title {
  text-align: left;
  font-weight: 800;
  margin: 2% 2%;
}

</style>