<template>

<div id="app">
    <router-view :key="$route.fullPath" />
  </div>
  


</template>


<script>

export default {
  data() { return{

  }}, 
     mounted() {

     }
  }

</script>

<style>
@import "~bulma/css/bulma.css";
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}



</style>
