<template>
    <section class="hero is-primary" height="">
        <!-- <img class="hero-background.is-transparent" src="https://www.fillmurray.com/1920/1080" alt="Fill Murray"> -->
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Bienvenue sur site
                </h1>
                <h3 class="subtitle">
                    GEII
                </h3>
            </div>
        </div>
    </section>

</template>

<script>

</script>

<style >
</style>
