<template>
    <section class="section is-small">
        <h1 class="title">Actualité</h1>
        <br>
        <div class="columns">
            <div class="colum">
                <h2 class="subtitle">
                    <p>Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown
                        printer took a galley of type and scrambled it to make a
                        type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting,
                        remaining essentially unchanged. </p>
                    <br>
                    <p>Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown
                        printer took a galley of type and scrambled it to make a
                        type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting,
                        remaining essentially unchanged. </p>
                </h2>
                <button class="button is-primary is-large">
                    Formulaire contact
                </button>
            </div>
            <div class="colum">
                <!--<img src="../../assets/images/universite-evry-batiment.jpg" alt="batiment-evry" height="max-height: 100px"
                    class="py-2px-2">-->
            </div>

        </div>

    </section>


</template>

<script>
</script>

<style>
</style>