
<template>
<header-layout />
  <b-container>
      <bannier-layout />
      <br>
      <Information-layout />
  </b-container>    
  <footer-layout />

</template>

<script>


import BannierLayout from '../pagesPricipale/pageAccuiel/BannierLayout.vue';
import InformationLayout from '../pagesPricipale/pageAccuiel/InformationLayout.vue'
import HeaderLayout from '../../components/layout/HeaderLayout.vue'
import FooterLayout from '../../components/layout/FooterLayout.vue';
export default {
   components: {
    BannierLayout,
    InformationLayout,
    HeaderLayout,
    FooterLayout,
  },
}

</script>

<style>
@import "~bulma/css/bulma.css";
</style>
