<template>
<header-etudiant/>
  <h1 class="title"> EDT</h1>
  <table class="table table-striped table-hover ">
    <thead>
    <tr>
      <th scope="col">Heure</th>
      <th scope="col">Lundi</th>
      <th scope="col">Mardi</th>
      <th scope="col">Mercredi</th>
      <th scope="col">Jeudi</th>
      <th scope="col">Vendredi</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td >8</td>
      <td >math</td>
      <td >anglais</td>
      <td >js</td>
      <td >oge</td>
      <td >pt</td>
    </tr>
    <tr>
      <td >10</td>
      <td >math</td>
      <td >anglais</td>
      <td >js</td>
      <td >oge</td>
      <td >pt</td>
    </tr>
    <tr>
      <td >12</td>
      <td >math</td>
      <td >anglais</td>
      <td >js</td>
      <td >oge</td>
      <td >pt</td>
    </tr>
    <tr>
      <td >14</td>
      <td >math</td>
      <td >anglais</td>
      <td >js</td>
      <td >oge</td>
      <td >pt</td>
    </tr>
    </tbody>
  </table>

<footer-etu />
</template>

<script>
import HeaderEtudiant from "@/views/pagesEtudiant/layout/headerEtudiant";
import FooterEtu from "@/components/layout/FooterLayout";

export default {
  name: `edtEnseignant`,
  components: {
    HeaderEtudiant,
    FooterEtu,
  },
  props: {
    msg: String
  },
  data (){//initialise les variable que je veux utiliser
    return {
      email:null,
      password:null,
      connectedUserData: null,
      connected:null
    }
  },
}
</script>

<style scoped>


.title {
  text-align: center;
  font-weight: 800;
  margin-top: 2%;
}

.table {
  border: medium solid black;
  width: 70%;
  margin: 3%;
}


</style>