<template>

  <header-etudiant/>
  <h1 class="title"> Vos Notes</h1>
  <br>
  <table class="table table-striped table-hover ">
    <thead>
    <tr>
      <th scope="col">Nom Matière</th>
      <th scope="col">Semestre</th>
      <th scope="col">Notes</th>
      <th scope="col">Appreciation</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>matière1</td>
      <td>1</td>
      <td>20/20</td>
      <td>Exelent</td>
    </tr>
    <tr>
      <td>matière2</td>
      <td>1</td>
      <td>20/20</td>
      <td>Exelent</td>
    </tr>
    <tr>
      <td>matière3</td>
      <td>1</td>
      <td>20/20</td>
      <td>Exelent</td>
    </tr>
    </tbody>
  </table>

  <footer-etu/>
</template>

<script>
import HeaderEtudiant from "@/views/pagesEtudiant/layout/headerEtudiant";
import FooterEtu from "@/components/layout/FooterLayout";
import UserDataService from "@/services/UserDataService";
import router from "@/router";

export default {
  name: `notes`,
  components: {
    HeaderEtudiant,
    FooterEtu,
  },
  props: {
    msg: String
  },
  methods: {
    envoyer() {
      UserDataService.get({
        matiere_id: this.matiere_id,
        user_id: this.user_id,
        note: this.note,
        createdAt: this.createdAt,
        updatedAt: this.updatedAt,
      })
          .then(() => {
            // this.getAll()
            router.push({ path: '/notes', replace: true })
          })
          .catch((e) => {
            console.log(e);
          });
    }
  },
}
</script>

<style scoped>


.title {
  text-align: center;
  font-weight: 800;
  margin-top: 2%;
}

.table {
  border: medium solid black;
  width: 60%;
  margin: 3%;
}

.footer {

  position: relative;
}
</style>