<template>
  <header-etudiant/>
  <nav class="navbar navbar-light has-shadow is-primary navHaut">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Offres d'alternance</span>
    </div>
  </nav>

  <form class="d-flex recherche">
    <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Search">
    <button class="btn btn-outline-success" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
    </svg></button>
  </form>



  <div class="row">
    <h1 class="title">Offre actuelle</h1>
    <div class="card card1">
      <h5 class="card-header">Projet Beroli</h5>
      <div class="card-body">
        <h5 class="card-title">Appli mobile B to B</h5>
        <p class="card-text">On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem Ipsum sur un texte générique comme 'Du texte.</p>
        <a href="#" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg></a>
      </div>
    </div>

    <div class="card card1">
      <h5 class="card-header">Projet Beroli</h5>
      <div class="card-body">
        <h5 class="card-title">Appli mobile B to B</h5>
        <p class="card-text">On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem Ipsum sur un texte générique comme 'Du texte.</p>
        <a href="#" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg></a>
      </div>
    </div>

    <div class="card card1">
      <h5 class="card-header">Projet Beroli</h5>
      <div class="card-body">
        <h5 class="card-title">Appli mobile B to B</h5>
        <p class="card-text">On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem Ipsum sur un texte générique comme 'Du texte.</p>
        <a href="#" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg></a>
      </div>
    </div>

  </div>

  <footer-etu/>
</template>

<script>
import HeaderEtudiant from "@/views/pagesEtudiant/layout/headerEtudiant";
import FooterEtu from "@/components/layout/FooterLayout";

export default {
  name: `offreAlternance`,
  components: {
    HeaderEtudiant,
    FooterEtu,
  },
  props: {
    msg: String
  }
}
</script>

<style scoped>
.recherche{
  /*background-color: #2c3e50;*/
  margin: 2%;
  width: 25%;
}
.card1{
  width: 20%;
  margin: 2%;
}

.title {
  text-align: center;
  font-weight: 800;
  margin-top: 2%;
}

.navHaut {
  margin-top: 1%;
}
</style>