<template>
  <header-etudiant/>
  Pages Principale
  <footer-layout/>
</template>

<script>
import HeaderEtudiant from "@/views/pagesEtudiant/layout/headerEtudiant";
import FooterLayout from "@/components/layout/FooterLayout";

export default {
  name: `pagePrincipaleEtudiant`,
  components: {
    HeaderEtudiant,
    FooterLayout,
  },
  props: {
    msg: String
  }
}
</script>

<style scoped>

</style>